* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#menu-container {
  background: linear-gradient(rgb(183, 59, 194), rgb(201, 40, 94));
  display: flex;
  justify-content: flex-end;
  color: white;
}
.menu-item {
  font-size: 1.2rem;
  list-style: none;
  padding-right: 2%;
  position: relative;
}
.menu-item:hover {
  background-color: darkorange;
  transition: background-color 0.5s;
  /* color: black; */
  cursor: pointer;
}
#dropdown-menu {
  position: absolute;
  width: 130px;
}
.dropdown-items {
  background-color: rgb(255, 255, 255, 80%);
  color: black;
  font-size: 1.2rem;
  list-style: none;
  padding-left: 3%;
}
.dropdown-items:hover {
  background-color: rgba(255, 140, 0, 70%);
}
.hidden {
  display: none;
}
.selected {
  background-color: darkorange;
}

.hero-image {
  width: 100%;
  /* height: 40%; */
}
#aboutus-section {
  background-color: purple;
  padding-top: 1%;
  padding-bottom: 1%;
}
#aboutus-section p {
  text-align: center;
  font-size: 2.5vw;
  color: gold;
}

/* Featured Section*/
#featured-section,
#array-featured-section {
  /* background-color: purple; */
  display: flex;
  justify-content: space-between;
}
.featured-card {
  width: 30%;
  background-color: violet;
  box-shadow: 5px 5px 10px gray;
  position: relative;
  margin: 1%;
}
.featured-card figure {
  height: 80%;
}
.featured-card figure img {
  width: 100%;
  height: 100%;
}
.featured-card p {
  /* background-color: brown; */
  height: 20%;
  text-shadow: 4px 4px 5px gray;
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-family: "Calibri", "Trebuchet MS", "sans-serif";
}
