* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#menu-container {
  background: linear-gradient(rgb(183, 59, 194), rgb(201, 40, 94));
  display: flex;
  justify-content: flex-end;
  color: white;
}
.menu-item {
  font-size: 1.2rem;
  list-style: none;
  padding-right: 2%;
  position: relative;
}
.menu-item:hover {
  background-color: darkorange;
  transition: background-color 0.5s;
  /* color: black; */
  cursor: pointer;
}
#dropdown-menu {
  position: absolute;
  width: 130px;
}
.dropdown-items {
  background-color: rgb(255, 255, 255, 80%);
  color: black;
  font-size: 1.2rem;
  list-style: none;
  padding-left: 3%;
}
.dropdown-items:hover {
  background-color: rgba(255, 140, 0, 70%);
}
.hidden {
  display: none;
}
.selected {
  background-color: darkorange;
}

.hero-image {
  width: 100%;
}
#aboutus-section {
  background-color: purple;
  padding-top: 2%;
  padding-bottom: 2%;
}
#aboutus-section p {
  text-align: center;
  font-size: 3.5vw;
  color: gold;
}
